*{margin:0; padding: 0; box-sizing: border-box;}

body{
font-family: 'Montserrat', sans-serif;
background-color: rgb(0, 0, 0);
color:white;
overflow-x: hidden;
}

.mycontainer{
  width: 100vw;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0;
  overflow: hidden;
}

.mycontainer p{
  font-weight: bold;
  margin: 15px 0;
  color: white;
}

.logo img{
  width: 150px;
  height: 50px;
}

.nav-item a{
font-weight: bold;
}

.header{
  color: white;
  background-color: #000000;
}

.header h1{
  margin-left: 15px;
}

.wrapper{
  display:flex;
  width: 98%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}

.locandina{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 15px;
  height: 500px;
  width: 350px;
  transition: 0.5s;
}

.locandina::before{
  content: "";
  position:absolute;
  top:-2px;
  left:-2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.locandina::after{
  content: "";
  position:absolute;
  transition: 0.5s;
  top:-2px;
  left:-2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
  filter: blur(50px);
}

.descriptionOver{
  width: 400px;
  height: 650px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  display: none;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}

.descriptionOver::-webkit-scrollbar {
    display: none;
}

.descriptionOver::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  width:500px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.show{
  display: inline-block;
}

.nationFlag{
  width: 20px;
}

.film{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 90%;
  height: 700px;
}

.wrapper-film{
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper-serie{
  display: flex;
  align-items: center;
  justify-content:space-between;
  overflow-y: hidden;
  overflow-x: hidden;
}

.arrowLeft i, .arrowRight i{

  height: 100%;
  font-size: 50px;
  padding: 0 25px;
  cursor: pointer;
}

.scrolling-wrapper {
  /* overflow-x: scroll; */
  overflow-x: hidden;
}

.posterImg{
  border-radius: 8px;
  width: 350px;
  height: 500px;
  transition: 0.5s;
}

.big{
  width: 500px;
  height: 696px;
}

.serie-tv{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 90%;
  height: 700px;
  overflow-x: hidden;
}
