*{margin:0; padding: 0; box-sizing: border-box;}

body{
font-family: 'Montserrat', sans-serif;
background-color: rgb(0, 0, 0);
color:white;
overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.mycontainer{
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 20px 0;
  overflow: hidden;
}

.mycontainer p{
  font-weight: bold;
  margin: 15px 0;
  color: white;
}

.logo img{
  width: 150px;
  height: 50px;
}

.nav-item a{
font-weight: bold;
}

.header{
  color: white;
  background-color: #000000;
}

.header h1{
  margin-left: 15px;
}

.wrapper{
  display:flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}

.locandina{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 15px;
  height: 300px;
  width: 200px;
  transition: 0.5s;
}

.locandina::before{
  content: "";
  position:absolute;
  top:-2px;
  left:-2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.locandina::after{
  content: "";
  position:absolute;
  transition: 0.5s;
  top:-2px;
  left:-2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
  filter: blur(50px);
}

.descriptionOver{
  width:300px;
  height: 550px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  display: none;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}

.descriptionOver::-webkit-scrollbar {
    display: none;
}

/* .descriptionOver::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  width:330px;
  height:inherit;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
} */

.descriptionOver p{
  padding: 10px;
  min-height:500px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.show{
  display: inline-block;
}

.hide{
  display: none;
}

.nationFlag{
  width: 20px;
}

.film{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 95%;
  height: 600px;
}

.serie-tv{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 95%;
  height: 550px;
  overflow-x: hidden;
}

.wrapper-film{
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper-serie{
  display: flex;
  align-items: center;
  justify-content:space-around;
  overflow-y: hidden;
  overflow-x: hidden;
}

.arrowLeft, .arrowRight{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px;
  width: 60px;
  height: 300px;
  box-shadow: 0px 0px 5px 1px #fff;
  position: absolute;
  background-color: rgba(255,255,255, 0.1)

}
.arrowLeft{
  left: 20px;
  z-index: 100;
}

.arrowRight{
  right: 20px;
  z-index: 100;
}

.zIndexVariation{
  z-index: -1;
}

.arrowLeft:hover, .arrowRight:hover{
  background-color: rgba(255,255,255, 0.2)
}

.arrowLeft i, .arrowRight i{
  font-size: 50px;
  padding: 0 20px;
}

.scrolling-wrapper {
  /* overflow-x: scroll; */
  overflow-x: hidden;
}

.posterImg{
  border-radius: 8px;
  width: 200px;
  height: 300px;
  transition: 0.5s;
}

.big{
  width: 360px;
  height: 546px;
}


h2{
  position: absolute;
  z-index: -1
}
